<!-- views/partials/head.hbs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Enlace a un CDN de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <!-- Enlace a un CDN de Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    
    <!-- Enlace a un CDN de Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>{{title}}</title>
    
    <!-- Enlace al CSS estático -->
    <link rel="stylesheet" href="/styles/styles.css">
    
    <!-- Enlace al favicon -->
    <link rel="icon" href="/images/foto.png" type="image/png">