<!-- views/layouts/layouts.hbs -->
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Incluir el partial para el head -->
    {{> head }}

</head>

<body class="m-0 p-2">
    <!-- Incluir el partial para el header -->
    {{> header }}

    <main>
        <!-- Aquí se inyectará el contenido dinámico de la vista -->
        {{{body}}}
    </main>

    <!-- Incluir el partial para el footer -->
    {{> footer }}

</body>

</html>