<!DOCTYPE html>
<html>

<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Enlace al CSS estático -->
    <img src="/images/foto.png" alt="Logo">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Enlace a un CDN de Font Awesome -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Enlace a un CDN de Google Fonts -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Enlace a un CDN de Tailwind CSS -->

</head>

<body class="p-4 md:p-8 lg:p-12 m-4 md:m-8 lg:m-12">
    
    <header>
        {{> header }} <!-- Uso de un parcial -->
    </header>
    <h1 class="text-3xl text-red-600">Lista de Productos</h1>
    <ul>
        {{#each productos}}
        <li>
            <strong>{{name}}</strong> - {{description}} - Precio: ${{price}}
        </li>
        {{/each}}
    </ul>
    <div class="flex justify-center mt-4">
        <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <i class="fas fa-home"></i> Volver al Home
        </a>
    </div>
</body>

</html>